<app-navbar></app-navbar>
  <!-- <div class="container" >
<div class="card" style="margin-left: -2%;">
  <div class="card-body"> -->

<div class="container">

  <table class="table table-bordered table-hover table-condensed"  style="border: 2px solid;" >
    <thead><tr><th colspan="32" style="text-align: center;border:2px solid;background-color: #e2b08c;" title="Field #1">MIS OF MANPOWER AT NAYARA ENERGY REFINERY - 07/SEPTEMBER/2020</th>
    </tr></thead>
    <tbody><tr>
    <td> </td>
    <td> </td>
    <td colspan="7" style="text-align: center;font-weight: bold;">EMPLOYEE</td>
    <td></td>
    <td colspan="7"  style="text-align: center;font-weight: bold;">CONTRACTUAL WORKER </td>
    <td></td>
    <td colspan="14"style="text-align: center;font-weight: bold;">VEHICLES</td>
    
    </tr>
    <tr>
    <td rowspan="2" style="text-align: center;font-weight: bold;">SL NO</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">GATES</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">A</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">G</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">B</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">C</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">D</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">N</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">TOTAL</td>
    <td rowspan="2"> </td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">A</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">G</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">B</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">C</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">D</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">N</td>
    <td rowspan="2" style="text-align: center;font-weight: bold;">TOTAL</td>
    <td rowspan="2"> </td>
    <td colspan="2" style="text-align: center;font-weight: bold;">A</td>
    
    <td colspan="2" style="text-align: center;font-weight: bold;">G</td>
    
    <td colspan="2" style="text-align: center;font-weight: bold;">B</td>
    
    <td colspan="2" style="text-align: center;font-weight: bold;">C</td>
    <td colspan="2" style="text-align: center;font-weight: bold;">D</td>
    <td colspan="2" style="text-align: center;font-weight: bold;">N</td>
  
    <td colspan="2" style="text-align: center;font-weight: bold;">TOTAL</td>
    
    </tr>
    <tr>
    
   
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    <td style="text-align: center;font-weight: bold;">LMV</td>
    <td style="text-align: center;font-weight: bold;">HMV</td>
    </tr>
    <tr>
    <td>1</td>
    <td>RMG</td>
    <td>{{empshiftARMG}}</td>
    <td>{{empshiftGRMG}}</td>
    <td>{{empshiftBRMG}}</td>
    <td>{{empshiftCRMG}}</td>
    <td>{{empshiftDRMG}}</td>
    <td>{{empshiftNRMG}}</td>
    <td>{{empRMGtotal}}</td>
    <td> </td>
    <td>{{conshiftARMG}}</td>
    <td>{{conshiftGRMG}}</td>
    <td>{{conshiftBRMG}}</td>
    <td>{{conshiftCRMG}}</td>
    <td>{{conshiftDRMG}}</td>
    <td>{{conshiftNRMG}}</td>
    <td>{{conRMGtotal}}</td>

    <td> </td>
    <td>{{lmvshiftARMG}}</td>
    <td>{{hmvshiftARMG}}</td>
    <td>{{lmvshiftGRMG}}</td>
    <td>{{hmvshiftGRMG}}</td>
    <td>{{lmvshiftBRMG}}</td>
    <td>{{hmvshiftBRMG}}</td>
    <td>{{lmvshiftCRMG}}</td>
    <td>{{hmvshiftCRMG}}</td>
    <td>{{lmvshiftDRMG}}</td>
    <td>{{hmvshiftDRMG}}</td>
    <td>{{lmvshiftNRMG}}</td>
    <td>{{hmvshiftNRMG}}</td>
    <td>{{lmvRMGtotal}}</td>
    <td>{{hmvRMGtotal}}</td>
    </tr>
    <tr>
    <td>2</td>
    <td>MTG</td>
    <td>{{empshiftAMTG}}</td>
    <td>{{empshiftGMTG}}</td>
    <td>{{empshiftBMTG}}</td>
    <td>{{empshiftCMTG}}</td>
    <td>{{empshiftDMTG}}</td>
    <td>{{empshiftNMTG}}</td>
    <td>{{empMTGtotal}}</td>
    <td> </td>
    <td>{{conshiftAMTG}}</td>
    <td>{{conshiftGMTG}}</td>
    <td>{{conshiftBMTG}}</td>
    <td>{{conshiftCMTG}}</td>
    <td>{{conshiftDMTG}}</td>
    <td>{{conshiftNMTG}}</td>
    <td>{{conMTGtotal}}</td>
    <td> </td>
    <td>{{lmvshiftAMTG}}</td>
    <td>{{hmvshiftAMTG}}</td>
    <td>{{lmvshiftGMTG}}</td>
    <td>{{hmvshiftGMTG}}</td>
    <td>{{lmvshiftBMTG}}</td>
    <td>{{hmvshiftBMTG}}</td>
    <td>{{lmvshiftCMTG}}</td>
    <td>{{hmvshiftCMTG}}</td>
    <td>{{lmvshiftDMTG}}</td>
    <td>{{hmvshiftDMTG}}</td>
    <td>{{lmvshiftNMTG}}</td>
    <td>{{hmvshiftNMTG}}</td>
    <td>{{lmvMTGtotal}}</td>
    <td>{{hmvMTGtotal}}</td>
    </tr>
    <tr>
    <td>3</td>
    <td>LBG</td>
    <td>{{empshiftALBG}}</td>
    <td>{{empshiftGLBG}}</td>
    <td>{{empshiftBLBG}}</td>
    <td>{{empshiftCLBG}}</td>
    <td>{{empshiftDLBG}}</td>
    <td>{{empshiftNLBG}}</td>
    <td>{{empLBGtotal}}</td>
    <td> </td>
    <td>{{conshiftALBG}}</td>
    <td>{{conshiftGLBG}}</td>
    <td>{{conshiftBLBG}}</td>
    <td>{{conshiftCLBG}}</td>
    <td>{{conshiftDLBG}}</td>
    <td>{{conshiftNLBG}}</td>
    <td>{{conLBGtotal}}</td>
    <td> </td>
    <td>{{lmvshiftALBG}}</td>
    <td>{{hmvshiftALBG}}</td>
    <td>{{lmvshiftGLBG}}</td>
    <td>{{hmvshiftGLBG}}</td>
    <td>{{lmvshiftBLBG}}</td>
    <td>{{hmvshiftBLBG}}</td>
    <td>{{lmvshiftCLBG}}</td>
    <td>{{hmvshiftCLBG}}</td>
    <td>{{lmvshiftDLBG}}</td>
    <td>{{hmvshiftDLBG}}</td>
    <td>{{lmvshiftNLBG}}</td>
    <td>{{hmvshiftNLBG}}</td>
    <td>{{lmvLBGtotal}}</td>
    <td>{{hmvLBGtotal}}</td>
    </tr>
    <tr>
    <td>4</td>
    <td>COT</td>
    <td>{{empshiftACOT}}</td>
    <td>{{empshiftGCOT}}</td>
    <td>{{empshiftBCOT}}</td>
    <td>{{empshiftCCOT}}</td>
    <td>{{empshiftDCOT}}</td>
    <td>{{empshiftNCOT}}</td>
    <td>{{empCOTtotal}}</td>
    <td> </td>
    <td>{{conshiftACOT}}</td>
    <td>{{conshiftGCOT}}</td>
    <td>{{conshiftBCOT}}</td>
    <td>{{conshiftCCOT}}</td>
    <td>{{conshiftDCOT}}</td>
    <td>{{conshiftNCOT}}</td>
    <td>{{conCOTtotal}}</td>
    <td> </td>
    <td>{{lmvshiftACOT}}</td>
    <td>{{hmvshiftACOT}}</td>
    <td>{{lmvshiftGCOT}}</td>
    <td>{{hmvshiftGCOT}}</td>
    <td>{{lmvshiftBCOT}}</td>
    <td>{{hmvshiftBCOT}}</td>
    <td>{{lmvshiftCCOT}}</td>
    <td>{{hmvshiftCCOT}}</td>
    <td>{{lmvshiftDCOT}}</td>
    <td>{{hmvshiftDCOT}}</td>
    <td>{{lmvshiftNCOT}}</td>
    <td>{{hmvshiftNCOT}}</td>
    <td>{{lmvCOTtotal}}</td>
    <td>{{hmvCOTtotal}}</td>
    </tr>
    <tr>
    <td>5</td>
    <td>NE</td>
    <td>{{empshiftANE}}</td>
    <td>{{empshiftGNE}}</td>
    <td>{{empshiftBNE}}</td>
    <td>{{empshiftCNE}}</td>
    <td>{{empshiftDNE}}</td>
    <td>{{empshiftNNE}}</td>
    <td>{{empNEtotal}}</td>
    <td> </td>
    <td>{{conshiftANE}}</td>
    <td>{{conshiftGNE}}</td>
    <td>{{conshiftBNE}}</td>
    <td>{{conshiftCNE}}</td>
    <td>{{conshiftDNE}}</td>
    <td>{{conshiftNNE}}</td>
    <td>{{conNEtotal}}</td>
    <td> </td>
    <td>{{lmvshiftANE}}</td>
    <td>{{hmvshiftANE}}</td>
    <td>{{lmvshiftGNE}}</td>
    <td>{{hmvshiftGNE}}</td>
    <td>{{lmvshiftBNE}}</td>
    <td>{{hmvshiftBNE}}</td>
    <td>{{lmvshiftCNE}}</td>
    <td>{{hmvshiftCNE}}</td>
    <td>{{lmvshiftDNE}}</td>
    <td>{{hmvshiftDNE}}</td>
    <td>{{lmvshiftNNE}}</td>
    <td>{{hmvshiftNNE}}</td>
    <td>{{lmvNEtotal}}</td>
    <td>{{hmvNEtotal}}</td>
    </tr>
    <tr>
    <td>6</td>
    <td >JETTY</td>
    <td>{{empshiftAJETTY}}</td>
    <td>{{empshiftGJETTY}}</td>
    <td>{{empshiftBJETTY}}</td>
    <td>{{empshiftCJETTY}}</td>
    <td>{{empshiftDJETTY}}</td>
    <td>{{empshiftNJETTY}}</td>
    <td>{{empJETTYtotal}}</td>
    <td> </td>
    <td>{{conshiftAJETTY}}</td>
    <td>{{conshiftGJETTY}}</td>
    <td>{{conshiftBJETTY}}</td>
    <td>{{conshiftCJETTY}}</td>
    <td>{{conshiftDJETTY}}</td>
    <td>{{conshiftNJETTY}}</td>
    <td>{{conJETTYtotal}}</td>
    <td> </td>
    <td>{{lmvshiftAJETTY}}</td>
    <td>{{hmvshiftAJETTY}}</td>
    <td>{{lmvshiftGJETTY}}</td>
    <td>{{hmvshiftGJETTY}}</td>
    <td>{{lmvshiftBJETTY}}</td>
    <td>{{hmvshiftBJETTY}}</td>
    <td>{{lmvshiftCJETTY}}</td>
    <td>{{hmvshiftCJETTY}}</td>
    <td>{{lmvshiftDJETTY}}</td>
    <td>{{hmvshiftDJETTY}}</td>
    <td>{{lmvshiftNJETTY}}</td>
    <td>{{hmvshiftNJETTY}}</td>
    <td>{{lmvJETTYtotal}}</td>
    <td>{{hmvJETTYtotal}}</td>
    </tr>
    <tr>
    <td>Total</td>
    <td> </td>
    <td>{{empshiftAtotal}}</td>
    <td>{{empshiftGtotal}}</td>
    <td>{{empshiftBtotal}}</td>
    <td>{{empshiftCtotal}}</td>
    <td>{{empshiftDtotal}}</td>
    <td>{{empshiftNtotal}}</td>
    <td>{{empmaintotal}}</td>
    <td> </td>
    <td>{{conshiftAtotal}}</td>
    <td>{{conshiftGtotal}}</td>
    <td>{{conshiftBtotal}}</td>
    <td>{{conshiftCtotal}}</td>
    <td>{{conshiftDtotal}}</td>
    <td>{{conshiftNtotal}}</td>
    <td>{{conmaintotal}}</td>
    <td> </td>
    <td>{{lmvshiftAtotal}}</td>
    <td>{{hmvshiftAtotal}}</td>
    <td>{{lmvshiftGtotal}}</td>
    <td>{{hmvshiftGtotal}}</td>
    <td>{{lmvshiftBtotal}}</td>
    <td>{{hmvshiftBtotal}}</td>
    <td>{{lmvshiftCtotal}}</td>
    <td>{{hmvshiftCtotal}}</td>
    <td>{{lmvshiftDtotal}}</td>
    <td>{{hmvshiftDtotal}}</td>
    <td>{{lmvshiftNtotal}}</td>
    <td>{{hmvshiftNtotal}}</td>
    <td>{{lmvmaintotal}}</td>
    <td>{{hmvmaintotal}}</td>
    </tr>
    </tbody></table>
  </div>

